body{
    background-image: url(https://wallpapercave.com/wp/wp3326867.jpg);
    background-size: cover;
}
.jumbotron{
    background: linear-gradient(181deg, 
    red,yellow, green);
    text-align: center;
    color: rgb(95, 70, 8);
    font-size: 17px;
    border-bottom:solid 1px green;
    background-size: 400%;
    animation: anim 4s infinite alternate;
}
@keyframes anim{
    from{
    background-position: 0%;
    }
    to{
        background-position: 100%;
      }
}
#secform{
    background-color: rgba(218, 165, 32, 0.548);
    padding: 10px;
    border-radius: 4px;
    border: solid burlywood 4px;
    background-position: center;
    color: black;
    text-align: center;

}

.custom-btn {
    width: 130px;
    height: 40px;
    color:black;
    border-radius: 5px;
    padding: 10px 25px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
} 
.btn1{
    background: rgb(255,151,0);
    border: none;
    z-index: 1;
}
.btn1:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 5px;
    background-color: #eaf818;
    background-image: linear-gradient(315deg, #eaf818 0%, #f6fc9c 74%);
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5);
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    transition: all 0.3s ease;
}
.btn1:hover:after{
    top: auto;
    bottom: 0;
    height: 100%;
}
.btn1:active{
    top: 2px;
}
.btn1 a{
    text-decoration: none;
    color: black;
}