body{
    background-image: url(/WallpaperDog-10758312.jpg);
    background-size: cover;
}
.jumbotron{
    background: linear-gradient(181deg, 
    red,yellow, green);
    text-align: center;
    color: rgb(95, 70, 8);
    font-size: 17px;
    border-bottom:solid 1px green;
    background-size: 400%;
    animation: anim 4s infinite alternate;
}
@keyframes anim{
    from{
    background-position: 0%;
    }
    to{
        background-position: 100%;
      }
}
#secform{
    
}